:root {
  --color-primary: #4B69FD;
  --color-secondary: #FFF9EB;
  --color-tertiary: #C4C4C4;
  --color-button: #fe652b;
  --color-button-hover: #e55720;
  --color-text: #444444;
  --color-white: #FFFFFF;

  /* Button */
  --button-bg: #e0e0e0; /* Color de fondo del botón */
  --shadow-light: #ffffff; /* Sombra clara */
  --shadow-dark: #a3a3a3; /* Sombra oscura */
  --hover-bg: #d6d6d6;
}

/* Estilos generales */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

html{
  overflow-x: hidden;
}

body {
  height: 100vh;
  /* background-color: var(--color-primary); */
  /* background: linear-gradient(to right, #4B69FD, #FE652B); */
  background: linear-gradient(180deg, 
    #E0F4FF 0%,
    #F8FDFF 50%,
    #dcdcdc 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

/* Banner */
.header-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .75rem;
  background-color: #003f7c;
}

/* Títulos */
.main-title {
  font-size: 1.75rem;
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
  color: var(--color-white);
}

/* Sección de entrada */
.input-section {
  /* flex: 60%; */
  /* background-color: var(--color-secondary); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.section-title {
  font-family: "Inter", serif;
  font-size: 36px;
  font-weight: 700;
  color: var(--color-primary);
  margin: 10px 0;
  text-align: center;
}

/* Contenedores de entrada y botón */
.input-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
}

.input-name {
  width: 100%;
  padding: 10px;
  /* border: 2px solid #000; */
  border-radius: 25px 0 0 25px;
  font-size: 16px;
}

.button-container {
  width: 300px;
}

/* Estilos de entrada de texto */
.input-title {
  flex: 1;
  padding: 10px 15px;
  font-size: 16px;
  /* border: 2px solid #333; */
  /* border-right: none; */
  /* border-radius: 25px 0 0 25px; */
  font-family: "Merriweather", serif;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); */
}

/* Estilos de botón */
button {
  background: var(--button-bg);
  box-shadow: 6px 6px 12px var(--shadow-dark), -6px -6px 12px var(--shadow-light);
  padding: 15px 30px;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  border: none;
  /* border: 2px solid #000; */
  border-radius: 25px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); */
  cursor: pointer;
}

.button-add {
  /* background-color: var(--color-tertiary); */
  /* color: var(--color-text); */
  border-radius: 0 25px 25px 0;
}

/* .button-add:hover {
  background-color: #a1a1a1;
} */

button:hover {
  background: var(--hover-bg);
  box-shadow: inset 6px 6px 12px var(--shadow-dark), inset -6px -6px 12px var(--shadow-light);
}
/* Listas */
ul {
  list-style-type: none;
  color: var(--color-text);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  margin: 20px 0;
}

.result-list {
  margin-top: 15px;
  color: #05DF05;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

/* Botón de sortear título */
.button-draw {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 40px;
  /* color: var(--color-white); */
  /* background-color: var(--color-button); */
  font-size: 1rem;
}

/* .button-draw:hover {
  background-color: var(--color-button-hover);
} */


/* Waves */

.wave-container {
  /* position: relative; */
  height: 150px;
  overflow: hidden;
  /* background: #fff; */
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200%;
  height: 100px;
  background: none;
}

.wave1 {
  z-index: 1;
  opacity: 1;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23003F7C'/%3E%3C/svg%3E");
  background-position: 120% bottom;
  background-repeat: repeat-x;
}

.wave2 {
  z-index: 2;
  opacity: 0.5;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23003F7C'/%3E%3C/svg%3E");
  background-position: 150% bottom;
  background-repeat: repeat-x;
}

.wave3 {
  z-index: 3;
  opacity: 0.2;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23003F7C'/%3E%3C/svg%3E");
  background-position: 0 bottom;
  background-repeat: repeat-x;
}
